    body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2;
	line-height: 1.5em;
	padding-top: 80px;

}

.content{color: black;}



h1 {
	font-family: Tangerine;
	font-size: 60px;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin:  0 1.5em 0;
	font-family: Courgette;
	font-size: 20px;
}

img {
	max-width: 100%;
	display: block;

}
#main-header {
	background: #333;
	color: white;
	height: 100px;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;

}
	#main-header a {
		color: white;
	}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}

	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}

	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}


/*
 * Navegación
 */
#main-header nav {
	float: right;
}
	#main-header nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}

	#main-header nav ul li {
			display: inline-block;
			line-height: 80px;
		}


			#main-header nav ul li a{
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}

				#main-header nav ul li a:hover{
					color: #0b76a6;
				}
.site-desc {

	margin-left: 35px;
}

/* Menú para escoger los platos */

#nav2 {
	position: relative;
	top: 35px;

}

#nav2 nav h3 a{
text-decoration: none;
padding: 10px;
}

#nav2 nav h3 a:hover{
	color: #0b76a6;
}

/* Tipos de platos */

#platos {
  background-color: #333;
  position: fixed;
  width: 200px;
  height: 200px;
  top: 100px;
  margin-left: 0px;

}
#platos li{
	margin-left: -15px
}

#platos a{

	color: white;
	text-decoration: none;

	}

#platos a:hover{
	color: #0b76a6;
}

/* Descripción de  los platos */

.Entranteplato1 {
	top: 10px;
	padding-bottom: 50px;
	background-color: white;
 	position: relative;
 	width: 100%;
	height: auto;

}

.Entranteplato1 p{
	padding-top: 0px;
	line-height: 1.2;
	letter-spacing: 2px;


}

.Entranteplato1 h3 {
	margin-top: -100px;
	padding-top: 30px;
	text-align: center;
	font-family: Courgette;
	font-size: 40px
}

/* Botón selección restaurante */

.Entranteplato1 button {
    position: relative;
	top: 30px;
	margin-left: 41%;

}

button {
  background-image: linear-gradient(to bottom, #f9c56d 25%, #f19224 100%);
  border: none;
  border-radius: 1em;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  padding: 10px 40px 8px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}


button:hover, button:active, button:focus {
  background-color: #f19224;
  background-image: none;
}


/* Footer */

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 30px;

	}
#main-footer p {
	margin: 0;
}
#main-footer a {
	color: white;

}



div {

}
